html, body {
  height:100%;
}

#root {
  height: 100%;;
}

a {color:#212529; text-decoration: none; }
a:active, a:hover { text-decoration: none; }

@font-face {
  font-family: 'Sarpanch';
  src: url('./assets/font/Sarpanch-Black.ttf') format('truetype');
  font-style: bold;
  font-weight: 900;
}

@font-face {
  font-family: 'Kanit';
  src: url('./assets/font/Kanit-ExtraLight.ttf') format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: 'Kanit';
  src: url('./assets/font/Kanit-Light.ttf') format('truetype');
  font-weight: 200;
}